<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>МҮХАҮТанхим</title>
    <link href=/catalog/css/app.7771a8ce26ae9c1c0c0abd84de35d1b7.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/catalog/js/manifest.29ded4b8afda1eb43b4e.js></script>
<script type=text/javascript src=/catalog/js/vendor.5ec07a124950dde3e3cd.js></script>
<script type=text/javascript src=/catalog/js/app.94a3fb01ab6308855c74.js></script>
</body>
</html>